* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #f3e7d3, #c8a97e);
  color: #3b2f2f;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background-color: #3b2f2f;
}

.logo {
  color: #f3e7d3;
  font-size: 26px;
  font-weight: bold;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #f3e7d3;
  font-size: 16px;
}

.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 25px;
}

.buttons button {
  padding: 12px 30px;
  margin: 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.primary {
  background-color: #3b2f2f;
  color: #fff;
}

.secondary {
  background-color: transparent;
  border: 2px solid #3b2f2f;
}

.menu {
  padding: 80px 100px;
}

.menu h2 {
  text-align: center;
  margin-bottom: 50px;
}

.menu-box {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.menu-card {
  background-color: rgba(255, 255, 255, 0.8);
  width: 48%;
  padding: 30px;
  border-radius: 12px;
}

.menu-card h3 {
  margin-bottom: 20px;
}

.menu-card ul li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.about {
  padding: 80px 100px;
}

.about-box {
  display: flex;
  gap: 40px;
}

.about-text {
  width: 55%;
}

.about-img img {
  width: 100%;
  border-radius: 12px;
}

.contact {
  padding: 80px 100px;
}

.contact-box {
  display: flex;
  gap: 40px;
}

.form-box {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-box input,
.form-box textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  outline: none;
}

.form-box button {
  padding: 10px;
  background-color: #3b2f2f;
  color: white;
  border: none;
}

.info-box {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 12px;
}